<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head'); %>
    <title>WaniKani Writing Tool</title>
</head>
<body>
    <p>
        Hello! This is a web tool for WaniKani users that will help you learn how to write the kanji taught by WaniKani. 
        Currently this app is in very early alpha so it has very little functionality. At the moment you can quiz yourself
        by WaniKani level. Click on the buttons below to start a quiz for that level. You can also click on each of the kanji to 
        see more information about them.
    </p>

    <% if (data != null) { %>
        <table style="width:100%">
            <tr>
                <th>Level</th>
                <th>Kanji</th>
            </tr>
        <% for (let i = 1; i < data.size + 1; i++) { %>
            <tr>
                <td>
                    <form method="POST" action="/quiz">
                        <input type="submit" name="quizLevelNum" value="<%= i %>">
                    </form>
                </td>
                <td>
                    <% for (let j = 0; j < data.get(i).length; j++) { %>
                        <a href="/kanji/<%= data.get(i)[j].data.characters %>" class="jptext"><%= data.get(i)[j].data.characters %></a> 
                    <% } %>
                </td>
            </tr>       
        <% } %>
        </table>
    <% } %>
</body>
</html>