<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head'); %>
    <title><%= kanjichar %></title>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
    <div id="answer">
        <div id="character" class="jptext">
            <%= kanjichar %>
        </div>
        <div id="diagram">
            <svg id="<%= kanjichar %>" class="kanjiVG" width="109" height="109">
                <!-- SVGs will get loaded by script.js here  -->
            </svg>
        </div>
    </div>

    <div id="meaning">

    </div>

    <div id="readings">On'yomi: <span id="onyomi"></span>&emsp;Kun'yomi: <span id="kunyomi"></span></div>
    <script src="/js/KanjivgAnimate.min.js"></script>
    <script src="/js/kanjianim.js"></script>
</body>
</html>