<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head'); %>
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
    <div id="answer" style="visibility: hidden;">
        <div id="character" class="jptext">

        </div>
        <div id="diagram">
            <svg id="kanjiAnim" class="kanjiVG" width="109" height="109">
                <!-- SVGs will get loaded by script.js here  -->
            </svg>
        </div>
    </div>

    <div id="meaning">

    </div>

    <div id="meaningAlt">

    </div>

    <div id="readings">On'yomi: <span id="onyomi" class="jptext"></span>&emsp;&emsp;Kun'yomi: <span id="kunyomi" class="jptext"></span></div>

    <div id="buttons">
        <button id="showAnswer">Show Answer</button>
        <button id="markCorrect" style="display: none;">Correct</button>
        <button id="markIncorrect" style="display: none;">Incorrect</button>
    </div>

    <form form method="POST" action="/quizupdate" id="quizForm"><input id="subjectKanji" name="subjectKanji" hidden><input type="number" id="correct" name="correct" hidden><input type="number" name="lastSubject" id="lastSubject" value="0" hidden></form>
    
    <% if (quizSubjects != null) { %>
    <script src="/js/KanjivgAnimate.min.js"></script>
    <script src="/js/kanjianim.js"></script>
    <script>
        var quizSubjects = <%-quizSubjects%>;
    </script>
    <script src="/js/quiz.js"></script>
    <% } %>
</body>
</html>