<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head'); %>
    <title>Token Verification</title>
</head>
<body>
    <% if (error != null) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <form method="POST" action="/">
        Please enter your API Token.
        <input type="text" name="token">
        <button>Change Token</button>
    </form>
</body>
</html>