<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head'); %>
    <title>Token Verification</title>
    <link rel="stylesheet" href="/css/token.css">
</head>
<body>
    <form method="POST" action="/">
        <div id="tokenEntry">
            <% if (typeof error != "undefined") { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <div>Please enter your API Token.</div>
            <input type="text" name="token" value="<%= currentToken %>"><br>
            <input type="submit" value="Change Token">
        </div>
    </form>
</body>
</html>